<%- include('.././partials/header') %>
    <div id="sidebar">
        <div class="sidebar-heading">
            <i class="fas fa-hamburger"></i>
            <h2>Admin</h2>
        </div>
    </div>

<%- include('.././partials/footer') %>