body {
  font-size: 16px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold; 
  overflow-wrap: break-word;
  box-sizing: border-box;
}

form {
  width: 100%;
}

a {
  text-decoration: none;
  color: white; 
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.break {
  flex-basis: 100%;
  height: 0; }

.header {
  min-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  background-image: url("./assets/burger-barn.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */ }

.rectangle {
  margin: 55px;
  width: 60px;
  height: 5.11px;
  background: #E8C300;
  border-radius: 50px;
  border: none; }

.order-btn {
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  color: white;
  background: #E8C300;
  border-radius: 5px;
  border: none; }
  .order-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; }

.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold; }

.nav-link {
  margin-top: 50px; 
  cursor: pointer;}

.header-logo {
  font-size: 110px;
  top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  position: relative; 
}

.header-line {
  position: absolute;
  width: 38%;
  top: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2); }

.header-line-1 {
  left: 5%; }

.header-line-2 {
  right: 5%; }

.header-line-vert {
  position: absolute;
  height: calc(90% - 100px);
  top: 100px;
  /** intersect with .header-line **/
  border: 1px solid rgba(255, 255, 255, 0.2); }

.header-line-vert-1 {
  left: 18%; }

.header-line-vert-2 {
  right: 18%; }

.hours-container {
  width: 100%;
  overflow-wrap: break-word;
  line-height: normal;
  top: 40px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hours {
  font-size: 18px;
}

.social-links {
  position: absolute;
  font-size: 30px; 
  right: 30px;
}

.social-link {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 10px 20px 10px 20px; 
}

.continue-btn-container {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 10px; }

.continue-link {
  background: white;
  border-radius: 50%;
  text-align: center;
  padding: 11px 15px 11px 15px;
  color: black;
  letter-spacing: 0; }

/** Menu **/
.menu-wrapper {
  display: flex;
  justify-content: center; }

.menu-container {
  width: 80%;
  padding-bottom: 10px; }

.menu-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap; }

.menu-heading > h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 36px;
  text-transform: uppercase;
  font-family: Athiti;
  font-style: normal;
  font-weight: normal; }

.rectangle-menu {
  margin-top: 0;
  margin-bottom: 10px; }

.menu-heading > h3 {
  font-weight: bolder;
  line-height: 28px; }

.menu-selection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  font-weight: bolder;
  font-size: 18px; }

.menu-select {
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px; 
}

.menu-hr {
  border: 1px solid rgba(51, 51, 51, 0.2);
  height: 50px; }

.active-menu {
  text-decoration: underline;
}

.menu {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  transition: all 1s;
  display: none; 
}

.active-menu-section {
  display: flex; }

.menu-item {
  padding: 5px;
  box-sizing: border-box; 
}

.jumbotron {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-family: Athiti;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  justify-content: center;
  letter-spacing: 0.5em; 
  width: 100%;
}

.jumbotron h1 {
  margin: 35px 0px 35px 0px;
}

/** Mobile Device **/
@media screen and (max-width: 440px) {
  .menu-item {
    width: 100%;
    margin: 0 auto; 
  } 
  .jumbotron h1 {
    font-size: 42px; 
  }
  .jumbotron h6 {
    font-size: 16px; 
  }
  .menu-hr {
    display: none;
  }
  .menu-selection {
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
  }
  .header-logo {
    font-size: 70px;
    top: 20px;
    position: relative; 
  }
  .header-line {
    position: absolute;
    width: 38%;
    top: 80px;
    border: 1px solid rgba(255, 255, 255, 0.2); 
  }
  .header-line-vert {
    position: absolute;
    height: calc(90% - 80px);
    top: 80px;
    /** intersect with .header-line **/
    border: 1px solid rgba(255, 255, 255, 0.2); 
  }

  .order-btn {
    width: 150px;
    height: 40px;
  }

  .hours {
    font-size: 16px;
  }
}

@media screen and (min-width: 440px) and (max-width: 800px) {
  .menu-item {
    width: 49%;
    margin: 0; 
  } 
  .jumbotron h1 {
    font-size: 56px; 
  }
  .jumbotron h6 {
    font-size: 14px; 
  }
  .menu-hr {
    display: none;
  }
  .menu-selection {
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
  }
}

@media screen and (min-width: 440px) {
  .social-links {
    right: 110px;
  }
}

@media screen and (min-width: 800px) {
  .menu-item {
    width: 40%;
    margin: 20px; 
  } 
  .jumbotron h1 {
    font-size: 96px; 
  }
  .jumbotron h6 {
    font-size: 18px; 
  }
}

@media screen and (min-width: 1000px) {
  .menu-item {
    width: 28%;
    margin: 20px; 
  }
}

.menu-item-line-1 {
  font-weight: bolder;
  font-size: 25px;
  font-family: Athiti; }

.menu-item-description {
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px; }

.photos-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-around; }

.gallery-photo {
  max-width: 33%;
  max-height: 100%;
  object-fit: cover; }

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353535;
  color: #c6c6c6;
  position: abolute;
  bottom: 0;
  width: 100%; }

#sidebar {
  background-color: #363740;
  height: 100vh;
  width: 200px;
  color: #A4A6B3;
  position: fixed; 
}

.sidebar-heading-icon, .sidebar-heading-title {
  display: inline-flex; }

.sidebar-heading-icon {
  font-size: xx-large;
  margin-right: 10px;
  margin-left: 20px; }

.sidebar-heading-title {
  color: #A4A6B3; }

.sidebar-heading {
  margin-bottom: 40px;
}

.sidebar-selection {
  height: 56px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: none;
  color: #A4A6B3;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.sidebar-selection-icon {
  margin-right: 20px;
  margin-left: 20px; 
}

.logout {
  position: absolute;
  bottom: 0;
}

.active {
  background-color: rgba(164, 166, 179, 0.25);
  border-left: 3px solid #DDE2FF;
  color: #DDE2FF; }

.main {
  margin: 0 auto;
  width: calc(100% - 200px);
  position: absolute;
  left: 200px; 
}

.main-container {
  margin: 20px;
  border: 2px solid #DFE0EB;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 10px;
  font-family: Avenir;
  font-weight: 200; 
}

.menu-admin>div:last-child>div {
  border-bottom: none;
}

.admin-menu-item {
  display: flex;
  justify-content: space-evenly;
  padding: 23px;
  border-color: #DFE0EB;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  box-sizing: border-box; 
}

.heading-title {
  padding-left: 20px;
  font-size: 19px;
}

.category-select {
  border: 2px solid #DFE0EB;
  border-radius: 5px;
  padding: 5px;
  font-family: Avenir;
  justify-self: left;
  font-size: 16px;
  margin-left: 10px;
}

.column-header-container, .menu-item-container-admin {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  border-bottom: 2px solid #DFE0EB;
}

.column-header-container {
  color: #9FA2B4;
  font-size: 14px;
}

/** Admin columns **/
.col-admin {
  box-sizing: border-box;
  padding: 5px;
  font-size: 14px;
}

.col-drag {
  width: 5%;
  padding: 5px;
}

.col-1-admin {
  width: 15%;
}

.col-2-admin {
  width: 50%;
}

.col-3-admin {
  width: 10%;
}

.col-4-admin {
  width: 10%;
}

.col-5-admin {
  width: 5%;
}

.col-6-admin {
  width: 5%;
}

.col {
  justify-content: left; 
}

.col-2 {
  width: 18%; 
}

.col-4 {
  width: 38%; 
}

.delete-btn {
  color: red;
}

.form-btn {
  text-decoration: none;
  border: none;
  padding-right: 5px;
  font-size: 10px;
  cursor: pointer;
  background: none;
}

.form-btn:hover {
  background-color: #c2c2c2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-title {
  justify-self: right;
}

.admin-btn {
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

.fa-plus, .fa-pencil-alt {
  padding: 2px;
}

.error-menu {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: red;
}

.edit-btn:hover {
  background-color: #c2c2c2;
}

.add-btn {
  background-color: #2F80ED;
}

.add-btn:hover {
  background-color: #2467be;
}

.add-item-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
}

.add-item-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #363740;
  border-radius: 5px;
  width: 40%;
  min-height: 200px;
  padding: 10px;
}

.add-item-input {
  height: 20px;
  width: 85%;
  margin-top: 12px;
  padding: 15px 10px 15px 10px;
  font-family: Avenir;
  font-size: 16px;
  background-color: rgba(164, 166, 179, 0.25);
  color: #DDE2FF;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-item-input::placeholder {
  color: #DDE2FF;
  opacity: .5;
}

.add-item-input-category {
  height: 35px;
  padding: 0 15px 0 5px;
}

.add-item-input-category>option {
  color: black;
}

.price-input-group {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-desc-input {
  width: 70%;
}

.price-input {
  width: 20%;
}

.btn-add-item-submit {
  height: 40px;
  width: 85%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Avenir;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color:#A7ABBF;
  cursor: pointer;
}

.btn-cancel {
  position: relative;
  left: 47%;
  top: 5px;
  background: none;
  border: none;
  color: #A4A6B3;
  user-select: none;
  -moz-user-select: none;
  cursor: pointer;
  font-size: 20px;
}

/** Login Page **/
.auth-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 20px;
  background-color: #363740;
  color: white;
  border-radius: 5px;
}

.auth-form-input {
  height: 20px;
  width: 100%;
  margin-top: 12px;
  padding: 15px;
  font-family: Avenir;
  font-size: 16px;
  background-color: rgba(164, 166, 179, 0.25);
  color: #DDE2FF;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.auth-form-btn {
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: Avenir;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color:#A7ABBF;
  cursor: pointer;
}

.error-message {
  color: red;
}

.loadingPage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuLoading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}